.container {
   font-size: 16px;
   margin-bottom: 15px;
   padding: 15px;
   height: auto;

   .boldSpan {
      margin-right: 10px;
      font-weight: bold;
   }
   .genomicSpan{
      color: #3786C2;
   }
   .genomicCol{
      margin-bottom: 5px;
   }
}

