.container {
   font-size: 16px;
   margin-bottom: 15px;
   padding: 15px;
   height: auto;

   ul {
      padding-left: 16px;
   }
   .boldSpan {
      margin-right: 10px;
      font-weight: bold;
   }
   .genomicSpan{
      color: #3786C2;
   }
   .genomicCol{
      margin-bottom: 5px;
   }
   @media (min-width: 1200px) and (max-width: 2000px) {
      .thTitle {
         width: 300px;
      }
   }
   @media (min-width: 2000px) {
      .thTitle {
         width: 800px;
      }
   }
}

