.diseasesUl {
   padding-left: 16px;
}
.buttonDiv {
   display: table-cell;

   .criteriaButton {
      color: #ffffff;
      width: 120px;
      margin-right: 10px;
   }
}
.fontItalic{
   font-style: italic;
   font-size: 14px;
}
.greenButton{
   background-color: #00C851;
}
.orangeButton{
   background-color: #ffbb33;
}

