.diseasesUl {
   padding-left: 16px;
}
.buttonDiv {
   display: unset;

   .criteriaButton {
      color: #ffffff;
      width: 120px;
      margin-right: 10px;
   }
}
.fontItalic{
   font-style: italic;
   font-size: 14px;
}
.greenButton{
   background-color: #00C851;
}
.orangeButton{
   background-color: #ffbb33;
}
@media (min-width: 1200px) and (max-width: 2000px) {
   .thTitle {
      width: 300px;
   }
}
@media (min-width: 2000px) {
   .thTitle {
      width: 800px;
   }
}

